
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/UserArea/Views/Shared/_UserLayout.cshtml";
}

@model List<Product>
<div class="animated fadeIn">
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Tüm Ürünler</strong>
                </div>
                <div class="card-body">
                    <table id="bootstrap-data-table" class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Ürün Adı</th>
                                <th>Stok</th>
                                <th>Birim Fiyat</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Product item in Model)
                            {
                               
                                <tr>
                                    <td>@item.ProductName</td>
                                    <td>@item.Stock</td>
                                    <td>@item.UnitPrice</td>
                                    <td>
                                        <a asp-area="UserArea" asp-controller="Card" asp-action="AddToCard" asp-route-id="@item.ID" class="btn btn-success btn-sm" data-method="post">  <i class="fa fa-cart-plus" > &nbsp; Add To Card</i></a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                   
                </div>
            </div>
        </div>


    </div>
</div><!-- .animated -->
@section Css{
    <link rel="stylesheet" href="~/Template/assets/css/lib/datatable/dataTables.bootstrap.min.css">
}

    @section Scripts{

    <!--Data Tables-->
    <script src="~/Template/assets/js/lib/data-table/datatables.min.js"></script>
    <script src="~/Template/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
    <script src="~/Template/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="~/Template/assets/js/init/datatables-init.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#bootstrap-data-table-export').DataTable();
        });
    </script>
}


